.home {
  min-height: 100vh;
  padding: 3.75rem 1.25rem;
}

.logo {
  display: block;
  width: 100vw;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 260px));
  gap: 1.875rem 3.75rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}
#list li {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  min-height: 15.3125rem;
  border-radius: 5px;

  box-shadow: 0px 4px 13px rgba(80, 139, 147, 0.25);
}

#list li span {
  font-size: 1.5rem;
  font-weight: 500;
}

#list li .pokemon-type-text {
  margin-top: 1rem;
}
li img {
  width: 120px;
  height: 120px;
  background-color: #f3f3f3;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.searchWrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchWrapper label {
  margin-bottom: 0.5rem;
}

.error {
  color: red;
}

.showall {
  display: none;
  margin: 0 auto;
}

#list li {
  cursor: pointer;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 50%;
}

.loading-wrapper {
  display: none;
}

.loading-wrapper.ativo {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
}
.loading img {
  width: 80%;
}
