.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 50%;
}

.loading-wrapper {
  display: none;
}

.loading-wrapper.ativo {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
}
.loading img {
  width: 80%;
}
