.pokemon-type-text {
  font: 400 1.75rem "Secular One";
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #000000;
  border-radius: 24px;
  height: 2.5rem;
  padding: 0 0.625rem;

  transition: 0.3s ease;
}

.pokemon-type-text:hover {
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .pokemon-type-text {
    font-size: 1.35rem;
    height: auto;
  }
}

@media (max-width: 700px) {
  .pokemon-type-text {
    font-size: 1.125rem;
    height: auto;
  }
}

/* BACKGROUND COLORS */
.bug-bg {
  background: linear-gradient(#98bb34 0%, #63691c 50%, #b1ca4b 100%);
}

.dark-bg {
  background: linear-gradient(
    #4a321c 0%,
    #0b0c05 50%,
    #4f3c20 97%,
    #28140d 100%
  );
}

.dragon-bg {
  background: linear-gradient(#b2a6ff 0%, #332258 52%, #b2a6ff 100%);
}

.electric-bg {
  background: linear-gradient(#ffdd29 0%, #cf7e1e 52%, #ffdd29 100%);
}

.fairy-bg {
  background: linear-gradient(#ebc0ff 0%, #cd7ae1 52%, #ebc0ff 100%);
}

.fighting-bg {
  background: linear-gradient(#77371b 0%, #23110b 52%, #77371b 100%);
}

.fire-bg {
  background: linear-gradient(#de803c 0%, #ee3030 52%, #de803c 100%);
}

.flying-bg {
  background: linear-gradient(#b8cbee 0%, #5b629d 52%, #b9d6f9 100%);
}

.ghost-bg {
  background: linear-gradient(#5243b1 0%, #2e2374 52%, #7d6edc 100%);
}

.grass-bg {
  background: linear-gradient(#d5fa88 0%, #46a52e 52%, #e3fa88 100%);
}

.ice-bg {
  background: linear-gradient(#c9fff8 0%, #49b7cf 52%, #c9fff8 100%);
}

.normal-bg {
  background: linear-gradient(#c8c2ba 0%, #877761 52%, #c8c2ba 100%);
}

.poison-bg {
  background: linear-gradient(#8f4594 0%, #4e2251 52%, #8f4594 100%);
}

.psychic-bg {
  background: linear-gradient(#ec457d 0%, #952349 52%, #ec457d 100%);
}

.rock-bg {
  background: linear-gradient(#b9a357 0%, #7b6824 52%, #b9a357 100%);
}

.steel-bg {
  background: linear-gradient(#cdccd7 0%, #84829b 46%, #cdccd7 100%);
}

.water-bg {
  background: linear-gradient(#cdccd7 0%, #2b6fb0 50%, #3b99f3 100%);
}

.ground-bg {
  background: linear-gradient(#caac4b 0%, #7c6a2f 52%, #caac4b 100%);
}

.shadow-bg {
  background: linear-gradient(#12041d 0%, #6c138f 52%, #12041d 100%);
}
