/* General pokedex */
#pokedex {
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10;
  overflow-y: auto;
}

.pokedex {
  margin: 0 auto;
  max-width: 1100px;
  background: #f44b4b;
  margin-top: 20px;
  border-radius: 30px;
  padding-bottom: 100px;
}

.pokedex .close-button {
  display: inline-block;
}

.close-button {
  position: relative;
}

.close-button::before {
  content: "";
  width: 148px;
  height: 148px;
  position: absolute;
  z-index: 1;
  background: url("../../img/close-button.svg");
  left: -75px;
  top: -65px;
}

.pokedex-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 22px 18px;
}

.pokedex-status {
  display: flex;
  gap: 13px;
}

.pokedex-status .red-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #881f1f;
}

.pokedex-status .yellow-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffd029;
}

.pokedex-status .green-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #8acf53;
}

.pokedex-screen {
  border: 24px solid #e7e7e7;
  border-radius: 30px;
  padding: 50px 25px;
  margin: 18px 42px 0;
}

/* Main screen */
.pokedex-main-screen {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;

  background: #e4ba88;
}

.pokedex-screen h1 {
  font-weight: 700;
  font-size: 8rem;
  color: #4d3b26;
  grid-column: 1/-1;
}

.pokedex-image {
  width: 100%;
}

.pokedex-image img {
  width: 100%;
  max-height: 400px;
}

.pokedex-types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 15px;
}

.pokedex-types img {
  width: 100px;
  height: 100px;
}

.pokedex-types li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.pokedex-attributes {
  display: grid;
  grid-template-columns: max-content auto 1fr;
  align-items: center;
  gap: 15px;

  width: 100%;
  background: #ffffff;
  padding: 25px;
  border-radius: 5px;
}

.attribute-name {
  font-weight: 500;
  font-size: 1.35rem;
  color: #1d1d1d;
  justify-self: start;
}

.attribute-value {
  font-size: 1.35rem;
  font-weight: 400;
  color: #6b6b6b;
}

.attribute-progress {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e4ba88 30%, #d6d6d6 0%);
  border-radius: 5px;
  height: 10px;
}

.pokemon-info {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0 40px;
  margin-top: 20px;
}

.pokemon-info-name {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff6d8;
}

.pokemon-info-value {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: #4c3b26;
}

/* Segunda tela */
.pokedex-secondary-screen {
  display: grid;
  grid-template-columns: 5fr 6fr;
  background: #ffffff;
  border-color: #ffffff;
}

.pokedex-secondary-screen h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pokedex-evolutions ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  font-weight: 300;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.pokedex-evolutions li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.evolution-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.evolution-pokemon img {
  width: 128px;
  height: auto;
}

.circle-bg {
  background: #ddd;
  border-radius: 50%;
}

.evolution-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.pokedex-move ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  gap: 15px;
}

.pokedex-move li {
  border: 1px solid #4f4f4f;
  border-radius: 20px;
  padding: 18px;
}

.pokedex-weakness ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 25px;
  margin-left: 10px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: #6b6b6b;
}

@media (max-width: 1100px) {
  .pokedex-screen {
    padding: 15px 20px 25px;
  }

  .pokedex-image {
    grid-row: 2;
  }

  .pokedex-image img {
    max-height: 70%;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .pokedex-screen h1 {
    font-size: 6rem;
  }

  .pokemon-info-value {
    font-size: 2.5rem;
  }

  .pokedex-main-screen {
    grid-template-columns: 1fr;
  }

  .pokedex-types {
    margin-bottom: 50px;
  }

  .pokemon-info {
    grid-row: 3;
    margin-bottom: 25px;
  }

  .pokedex-secondary-screen {
    grid-template-columns: 1fr;
  }

  .pokedex-move {
    margin-bottom: 25px;
  }
}

@media (max-width: 900px) {
  .pokedex-screen {
    padding: 15px 25px;
    margin: 5px;
    border-width: 10px;
  }

  .pokedex-screen h1 {
    font-size: 4rem;
  }

  .pokedex-image {
    width: 50%;
  }

  .pokemon-info-value {
    font-size: 2rem;
  }

  .pokedex-types {
    gap: 10px;
  }

  .pokedex-types li {
    gap: 0;
  }

  .pokedex-types img {
    width: 65%;
  }

  .pokedex-main-screen {
    margin-bottom: 50px;
  }

  .attribute-name,
  .attribute-value {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .evolution-pokemon img {
    width: 72px;
  }

  .evolution-arrow img {
    width: 24px;
  }

  .evolution-pokemon {
    font-size: 1rem;
  }

  .pokedex-evolutions li {
    gap: 0;
  }

  .pokedex-move {
    padding: 5px;
  }

  .pokedex-move ul {
    font-size: 0.85rem;
    gap: 5px;
  }

  .pokedex-weakness ul {
    justify-content: center;
    margin-left: 0;
  }

  .pokemon-info-value {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .pokedex-screen h1 {
    font-size: 2.5rem;
  }

  .pokemon-info {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .pokemon-info-value:nth-child(2) {
    grid-row: 3;
  }

  .pokedex-evolutions li div:first-child,
  .pokedex-evolutions li div:nth-child(2) {
    display: none;
  }

  .evolution-pokemon img {
    width: 128px;
  }

  .attribute-name {
    justify-self: initial;
  }

  .pokedex-attributes {
    grid-template-columns: 2fr;
    justify-items: center;
  }

  .pokedex-screen {
    padding: 15px 5px;
  }

  .pokedex-secondary-screen h2 {
    text-align: center;
  }
}
